action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
action-tutorials-py==0.33.5
actionlib-msgs==5.3.5
addict==2.4.0
ament-cmake-test==2.5.3
ament-copyright==0.17.1
ament-cppcheck==0.17.1
ament-cpplint==0.17.1
ament-flake8==0.17.1
ament-index-python==1.8.1
ament-lint==0.17.1
ament-lint-cmake==0.17.1
ament-package==0.16.3
ament-pep257==0.17.1
ament-uncrustify==0.17.1
ament-xmllint==0.17.1
angles==1.16.0
asttokens==3.0.0
attrs==24.3.0
blinker==1.9.0
builtin-interfaces==2.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
composition-interfaces==2.0.2
ConfigArgParse==1.7
contourpy==1.3.1
cv-bridge==4.1.0
cycler==0.12.1
Cython==3.0.11
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
demo-nodes-py==0.33.5
diagnostic-msgs==5.3.5
diagnostic-updater==4.2.1
domain-coordinator==0.12.0
example-interfaces==0.12.0
examples-rclpy-executors==0.19.4
examples-rclpy-minimal-action-client==0.19.4
examples-rclpy-minimal-action-server==0.19.4
examples-rclpy-minimal-client==0.19.4
examples-rclpy-minimal-publisher==0.19.4
examples-rclpy-minimal-service==0.19.4
examples-rclpy-minimal-subscriber==0.19.4
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.0.3
fonttools==4.55.3
fsspec==2024.2.0
geometry-msgs==5.3.5
idna==3.10
image-geometry==4.1.0
importlib_metadata==8.5.0
interactive-markers==2.5.4
ipython==8.31.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.3
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
laser-geometry==2.7.0
launch==3.4.3
launch-ros==0.26.6
launch-testing==3.4.3
launch-testing-ros==0.26.6
launch-xml==3.4.3
launch-yaml==3.4.3
lifecycle-msgs==2.0.2
logging-demo==0.33.5
map-msgs==2.4.1
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
message-filters==4.11.3
mpmath==1.3.0
nav-msgs==5.3.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
open3d==0.19.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
osrf-pycommon==2.1.5
packaging==24.2
pandas==2.2.3
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.33.5
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.3.6
plotly==5.24.1
prompt_toolkit==3.0.48
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
Pygments==2.19.1
pyparsing==3.2.1
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-qt-binding==2.2.1
pytz==2024.2
PyYAML==6.0.2
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.5
rcl-interfaces==2.0.2
rclpy==7.1.3
rcutils==6.7.2
realsense2-camera-msgs==4.55.1
referencing==0.35.1
requests==2.32.3
resource-retriever==3.4.3
retrying==1.3.4
rmw-dds-common==3.1.0
ros2action==0.32.2
ros2bag==0.26.6
ros2bag-mcap-cli==0.26.6
ros2bag-sqlite3-cli==0.26.6
ros2cli==0.32.2
ros2component==0.32.2
ros2doctor==0.32.2
ros2interface==0.32.2
ros2launch==0.26.6
ros2lifecycle==0.32.2
ros2multicast==0.32.2
ros2node==0.32.2
ros2param==0.32.2
ros2pkg==0.32.2
ros2run==0.32.2
ros2service==0.32.2
ros2topic==0.32.2
rosbag2-interfaces==0.26.6
rosbag2-py==0.26.6
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.0
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpds-py==0.22.3
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.4
rqt-bag-plugins==1.5.4
rqt-console==2.2.1
rqt-graph==1.5.4
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.0
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sensor-msgs==5.3.5
sensor-msgs-py==5.3.5
service-msgs==2.0.2
setuptools==75.8.0
shape-msgs==5.3.5
six==1.17.0
sros2==0.13.2
stack-data==0.6.3
statistics-msgs==2.0.2
std-msgs==5.3.5
std-srvs==5.3.5
stereo-msgs==5.3.5
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tf2-geometry-msgs==0.36.7
tf2-kdl==0.36.7
tf2-msgs==0.36.7
tf2-py==0.36.7
tf2-ros-py==0.36.7
tf2-sensor-msgs==0.36.7
tf2-tools==0.36.7
threadpoolctl==3.5.0
topic-monitor==0.33.5
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==5.3.5
transforms3d==0.4.2
triton==3.1.0
turtlesim==1.8.3
type-description-interfaces==2.0.2
typing_extensions==4.9.0
tzdata==2024.2
ultralytics==8.3.61
ultralytics-thop==2.0.13
unique-identifier-msgs==2.5.0
urllib3==2.3.0
vision-msgs==4.1.1
visualization-msgs==5.3.5
wcwidth==0.2.13
Werkzeug==3.0.6
wheel==0.45.1
widgetsnbextension==4.0.13
xacro==2.0.11
zipp==3.21.0
